* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.main-nav {
    background-color: aqua;
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    justify-content: flex-end;
}

.menu-item {
    text-decoration: none;
}

.main-title {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: 100;
}