* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {overflow: auto;}

/*****************************************/
/* HEADER */
/*****************************************/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/header_img.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.main-nav {
    display: flex;
    padding-top: 40px;
    justify-content: flex-end;
}

.menu-item {
    margin-right: 30px;
}

.menu-item a:link,
.menu-item a:visited{
    padding: 10px 0px;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.menu-item a:hover,
.menu-item a:active {
    border-bottom: 2px solid #fc6;
}

.main-title {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: 100;
    color: #fff;
}